{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    {% block body %}
    {% if messages %}
        {% for i in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Holy guacamole!</strong> {{i}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>

        <h1> Login page </h1>
        <form method="POST">
            {% csrf_token %}
            <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">user name</label>
                  <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
                  <div id="userlHelp" class="form-text">We'll never share your name with anyone else.</div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" name="password">
                </div>
                <button type="submit" class="btn btn-primary">log in</button>
              </form>
        </form>
        {% endfor %}
        {% endif %}
    {% endblock %}
</body>
</html>