{%extends  'base.html' %}

{% block body %}
        <div class="container w-50" style="text-align: center;">
        <form method="POST" enctype="multipart/form-data">
            <h3 style="box-shadow: 1px 1px 1px 1px;background-color: rgba(243, 221, 188, 0.527);">add motivation comment</h3>
            {% csrf_token %}
            {{form.as_p}}
            {% if user.is_authenticated %}
                <button type="submit" class="btn btn-outline-primary col-12">add comment</button>
            {% endif %}
        </div> 
        </form>
        <div>
{%endblock%}